*{

    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}


@keyframes scrollText {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(-50%);
    }
}






.container{
    width:100%;
    height: 100vh;
    background-image:url(./images/453cd0c7-4afb-455c-9f52-eb8d48ffd96d.jpg) ;
    background-position:center;
    background-size :cover;
    position: relative;
}
.form-box{
    width:90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #9f956a;
    padding: 50px 60px 70px;
    text-align: center;
    opacity: 0.89;
    border-radius: 12px;
    transition: opacity 0.55s;
}
.form-box h1{
    font-size: 30px;
    margin-bottom: 62px;
   color: #101010;
   position: relative;
   opacity: 40;
   font-size: 40px;
}
.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background:#101010;
    position:absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

#name-holder{
  opacity:0.55;

  }

#email-holder{
    opacity:0.55;

 }


#password-holder{
    opacity:0.55;

}


.form-box:hover{
    opacity:1;
}
.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}
input{
    width: 100%;
    background:transparent ;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}
.input-fiels i{
    margin-left: 15px;
    color: #999;
}
form p a{
    text-decoration: none ;
    color: #3c00a0;
}
.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.btn-field button{
    flex-basis: 48%;
    background: #bab3c6;
    color: #fff;
    height: 40px;
    border-radius: 19px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}
.input-group{
    height: 280px;
}
.btn-field button.disable{
    background: #eaeaea;
    color: #555;
}